*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.youtube{
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:  
  'header header'
  'sidebar contenido';
}

.header{
  grid-area: header;
  background-color: #000;
}
.sidebar{
  grid-area: sidebar;
  background-color: #c2c2c2;
}
.contenido{
  grid-area: contenido;
  background-color: #c9c9c9;
}